extends layout.pug

block content
  .jumbotron.mx-auto.my-5
      .card.m-auto(style='width: 50rem; background-color: #ffffff5c;')
        .card-body
          h4.card-title.text-center Add New Post
          form.my-3.mx-5(action='/nodeblogapi/create' method='post')
            if data
              .row.mb-3
                .col-sm-6
                  input#blogFirstName.form-control(type='text' name='blogFirstName' value=data.firstName readonly)
                .col-sm-6
                  input#blogLastName.form-control(type='text' name='blogLastName' value=data.lastName  readonly)
              .row.mb-3
                .col-sm-6
                  input#blogEmail.form-control(type='email' name='blogEmail' value=data.email  readonly)
                .col-sm-6
                  input#blogUserName.form-control(type='text' name='blogUserName' value=data.userName  readonly)
              .row.mb-3
                .col-sm-12
                  input#blogTitle.form-control(type='text' name='blogTitle' placeholder='Blog Title' required)
                  #blogTitleHelp.form-text
              .row.mb-3
                .col-sm-12
                  input#blogSnippet.form-control(type='text' name='blogSnippet' placeholder='Blog Snippet' required)
                  #blogSnippetHelp.form-text
              .row.mb-3
                .col-sm-12
                  textarea#blogBody.form-control(name='blogBody' cols='30' rows='10' placeholder='Blog Body' required)
                  #blogBodyHelp.form-text
              .text-center
                button.btn.btn-primary(type='submit') Add Blog
                button.btn.btn-danger.mx-3(type='reset') Reset
block append script
  script(src='/js/addBlog.js') 