extends layout.pug

block append head
  link(rel='stylesheet' href='/css/blog.css')

block content 
  .container.mx-auto.my-5
      .row.container-fluid(style=' background-color: #ffffff5c;')
        h1.text-center.my-3 Welcome to nodeBlog
        ul.nav.justify-content-end.text-dark
          li.nav-item
            a.nav-link(aria-current='page' href='/nodeblogapi/create' style='color: rgb(0 0 0);') Add Post
          li.nav-item
            a.nav-link(aria-current='page' href='/nodeblogapi/deleteblogs' style='color: rgb(0 0 0);') Delete Post
        hr.hrstyle
        .row
        if blogs.length > 0
          each blog in blogs
            .card.m-4(style='width: 18rem;')
              .card-body
                h3.card-title=blog.blogTitle
                p.card-text= blog.blogSnippet
                a.btn.btn-primary(href=`/nodeblogapi/read/${blog._id}`) Read more
        else 
          p.displystyle There are no blogs to display yet...