extends layout.pug

block content
  .jumbotron.mx-auto.my-5
      .card.m-auto(style='width: 50rem; background-color: #ffffff5c;')
        .card-body
          h3.card-title.text-center Welcome to nodeMail
          form#emailForm.my-3.mx-5(action='/nodemailapi/email_page' method='post')
            .row.mb-3
              .input-group.mb-3
                input#emailID.form-control(type='text' name='emailID' placeholder=`Recipient's Email` required)
            .row.mb-3
              .input-group.mb-3
                input#subject.form-control(type='text' name='subject' placeholder='Subject' required)
            .row.mb-3
              .input-group
                textarea#messageArea.form-control(name='messageArea' cols='30' rows='10' placeholder='Compose Email' required)
            .text-center
              button.btn.btn-primary(type='submit') Send