extends layout.pug

block append head
  link(rel='stylesheet' href='/css/index.css')

block content 
  .jumbotron.mx-auto.my-5
      .card.m-auto(style='width: 50rem; background-color: #ffffff5c;')
        #icon
          i.far.fa-paper-plane
        .card-body
          h1.card-title.text-center Get started with nodeMail
          .text-center.my-5
            a.btn.btn-primary(href='/user/register') Create an account