body{
    background-image:url('/img/casey-horner-G2jAOMGGlPE-unsplash.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}