body{
    background-image:url('/img/joanna-kosinska-bF2vsubyHcQ-unsplash.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }

 .foot a{
    text-decoration: none;
 }
